<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="connection.charSet">UTF-8</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="connection.useUnicode">true</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--property name="hikari.dataSourceClassName">org.mariadb.jdbc.MariaDbDataSource</property-->
        <property name="hikari.driverClassName">com.mysql.cj.jdbc.Driver</property>
        <property name="hikari.jdbcUrl">jdbc:mysql://localhost:3306/ERK_SYS?serverTimezone=UTC</property>
        <property name="hikari.username">erksys</property>
        <property name="hikari.password">o7Uf4SN8rQ5tHpkIv8E7FoofKAHpuZeB</property>
        <property name="hikari.minimumIdle">5</property>
        <property name="hikari.maximumPoolSize">10</property>
        <property name="hikari.idleTimeout">30000</property>
        <property name="hikari.autoCommit">true</property>

        <!-- Mapping files, annotated classes, etc. -->
        <mapping class="com.aispace.erksystem.service.database.table.ServiceProvider"/>
        <mapping class="com.aispace.erksystem.service.database.table.ServiceUser"/>

    </session-factory>
</hibernate-configuration>
